{{#if resume.awards.length}}
<div class="w3-container w3-card w3-white w3-margin-bottom awards-container">
  {{> title value="Awards" icon="trophy"}}

  {{#each resume.awards}}
    <section class="item">
      {{> section-header name=this.title }}

      {{#if awarder}}
        <h5 class="awarder">{{awarder}}</h5>
      {{/if}}

      {{#if summary}}
        <p class="summary">{{summary}}</p>
      {{/if}}
    </section>
  {{/each}}
</div>
{{/if}}
