{{#if resume.education.length}}
<div class="w3-container w3-card w3-white w3-margin-bottom education-container">
  {{> title value="Education" icon="graduation-cap"}} {{#each resume.education}}
  <section class="item">
    {{> section-header header=(concat studyType " of " this.area) subheader=this.institution }}
    {{#if location}}
      <h5 class="location">{{location}}</h5>
    {{/if}}

    {{#if specialization}}
      <h5 class="specialization">{{specialization}}</h5>
    {{/if}}
    {{#if courses.length}}
      <ul class="two-column">
        {{#each courses}}
        <li>{{{mdToHtml .}}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </section>
  {{/each}}
</div>
{{/if}}
