{{#if resume.interests.length}}
<div class="w3-container w3-card w3-white w3-margin-bottom interests-container">
  {{> title value="Interests" icon="heart"}}

  {{#each resume.interests}}
    <section class="item">
      {{#if name}}
        <h4 class="bold">{{name}}</h4>
      {{/if}}
      {{#if keywords.length}}
        <ul class="minimal">
          {{#each keywords}}
              <li>{{.}}</li>
          {{/each}}
        </ul>
      {{/if}}
    </section>
  {{/each}}
</div>
{{/if}}
