{{#if resume.languages.length}}
<div class="w3-container w3-card w3-white w3-margin-bottom languages-container">
  {{> title value="Languages" icon="language"}}

  <ul class="minimal">
    {{#each resume.languages}}
    <li>
      <h6>{{language}} {{#if fluency}}<em>({{fluency}})</em>{{/if}}</h6>
    </li>
    {{/each}}
  </ul>
</div>
{{/if}}
