{{#resume.basics}}
{{#if summary}}
<div class="w3-container w3-card w3-white w3-margin-bottom summary-container">
  {{> title value="Summary" icon="address-card"}}
  <p class="summary">
    {{summary}}
  </p>
</div>
{{/if}}
{{/resume.basics}}
