{{#if resume.work.length}}
  <div class="w3-container w3-card w3-white w3-margin-bottom">
    {{> title value="Experience" icon="suitcase"}}
  {{#each resume.work}}
    <div class="w3-container">
      {{> section-header header=position subheader=company }}
      {{#if summary}}
        <p class="summary">{{{mdToHtml summary}}}</p>
      {{/if}}
      <section>
        {{#if highlights.length}}
          <ul>
            {{#each highlights}}
              <li>{{.}}</li>
            {{/each}}
          </ul>
        {{/if}}
      </section>
      <hr>
    </div>
  {{/each}}
  </div>
{{/if}}
